body {
  background-color: #eee;
}

table td {
  background-color: rgb(226, 250, 199);
  padding: 1em;
  border: 1px solid black;
  max-width: 10em;
  word-wrap: break-word
}

table th {
  background-color: rgb(157, 230, 90);
  color: white;
  padding: 1em;
  border: 1px solid black;
  font-weight: bold;
}

#root {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

